@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EduWe !!!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Education is the key of Success.</a>.</p>
</div>
